<?xml version="1.0"?>

<launch>
        <node pkg="zed_opencv_ros" type="zed_opencv_ros_node" name="zed_opencv_ros" output="screen">
                <param name="serial_number" value="14928" />
                <param name="cam_id" value="1" />
                <param name="resolution_width" value="1280" />
                <param name="resolution_height" value="720" />
                <param name="cam_fps" value="60" />
                <param name="publish_gray" value="1" />
                <param name="publish_rectified" value="1" />
                <param name="publish_raw" value="0" />              
        </node>
        <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_zed_camera_left_optical_frame" args="0 0.06 0 0 0 0 zed_center left_camera_optical_frame 10" />
        <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_zed_camera_right_optical_frame" args="0 -0.06 0 0 0 0 zed_center right_camera_optical_frame 10" />
</launch>

